---
interface Props {
  icon: any;
  title: string;
  description: string;
}

const { icon: Icon, title, description } = Astro.props;
---

<section
  class="group bg-[#1e293b] border border-[#38bdf8]/10 relative flex flex-col items-center justify-center overflow-hidden rounded-xl p-6 shadow-lg transition-all duration-300 hover:scale-[1.02] hover:border-[#38bdf8]/30"
>
  <!-- Glow effect -->
  <div
    class="absolute inset-0 -z-10 opacity-0 blur-2xl transition duration-500 group-hover:opacity-100 bg-[#1e293b]/5"
  >
  </div>

  <!-- Icon -->
  <div
    class="mb-4 text-4xl text-[#7dd3fc]"
  >
    {Icon && <Icon />}
  </div>

  <!-- Title -->
  <h3 class="mb-2 text-xl font-bold text-white">{title}</h3>

  <!-- Description -->
  <p class="text-center text-zinc-400 leading-relaxed">{description}</p>
</section>
